In [252]:
import pandas as pd
import numpy as np

In [253]:
wb = pd.read_excel('datasets/58.xls')
wb.drop(columns=['序号','标题','区','来源'],inplace = True)
wb.head()

     价格  室  厅     面积         小区                  标签
0  6700  2  0  65.00       山西小区   距2号线南京东路地铁站步行425m
1  8500  2  2  91.00  明园森林都市滴翠苑    距1号线汶水路地铁站步行763m
2  2600  2  1  56.07   四元路20弄小区  距3号线江杨北路地铁站步行1130m
3  5500  2  2  84.00  明园森林都市滴翠苑    距1号线汶水路地铁站步行763m
4  6800  1  2  78.00       紫华佳苑   距12号线宁国路地铁站步行851m

In [254]:
bk = pd.read_excel("datasets/beiker.xlsx")
bk.drop(columns=['序号','标题'],inplace = True)
bk.rename(columns={'平米':'面积','地址':'小区'},inplace = True)
bk.head()

   室  厅  面积 楼层           小区    价格           标签
0  1  1  37  5     长宁西郊王满小区  4400      近地铁随时看房
1  2  0  49  6  徐汇华东理工梅陇十一村  4450       精装随时看房
2  1  1  32  6     徐汇田林田林六村  4700  新上近地铁精装随时看房
3  1  1  39  6      徐汇康健寿昌坊  4200       新上随时看房
4  1  1  44  6     徐汇长桥长桥六村  3500         随时看房

In [255]:
jk = pd.read_excel("datasets/anjuke.xls")
jk.drop(columns=['序号','标题'],inplace = True)
jk.rename(columns={'平米':'面积'},inplace = True)
jk['地址']= jk['地址'].str.split(' ').str[57]
jk['地址']= jk['地址'].str.split('\n').str[0]
jk.head()

,室,厅,面积,小区,楼层,价格,标签,地址
0,1,1,58.0,美罗家园罗翔苑,中层(共18层) ...,1800,整租朝东有电梯7号线,罗贤路388弄
1,1,1,58.0,美罗家园宝欣苑九村,中层(共18层) ...,1800,整租朝南有电梯7号线,美安路628弄
2,1,1,55.0,美罗家园年吉苑,中层(共18层) ...,1800,整租朝南有电梯7号线,年吉路100弄1-34号
3,1,1,55.0,美罗家园罗秀苑,中层(共18层) ...,1800,整租朝南有电梯7号线,美秀路358弄
4,1,1,55.0,美罗家园罗翔苑,中层(共18层) ...,1800,整租朝南有电梯7号线,罗贤路388弄

In [256]:
lj = pd.read_excel("datasets/lianjia.xls")
lj.drop(columns=['序号','标题','区1','区2'],inplace = True)
lj['面积'], lj['面积2'] = lj['面积'].str.split('㎡').str
lj['面积2'] = lj['面积2'].str.split('南').str[1]
lj['面积2'] = lj['面积2'].str.split(' ').str[1]
lj['面积2'] = lj['面积2'].str.split('北').str[1]
lj['室'], lj['面积2'] = lj['面积2'].str.split('室').str
lj['厅'], lj['面积2'] = lj['面积2'].str.split('厅').str
lj['卫'], lj['面积2'] = lj['面积2'].str.split('卫').str
lj.drop(columns=['面积2'],inplace = True)
lj.dropna(axis=0,how='any',inplace = True)
lj.head()

<ipython-input-256-ef160c2a7500>:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  lj['面积'], lj['面积2'] = lj['面积'].str.split('㎡').str
<ipython-input-256-ef160c2a7500>:7: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  lj['室'], lj['面积2'] = lj['面积2'].str.split('室').str
<ipython-input-256-ef160c2a7500>:8: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  lj['厅'], lj['面积2'] = lj['面积2'].str.split('厅').str
<ipython-input-256-ef160c2a7500>:9: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  lj['卫'], lj['面积2'] = lj['面积2'].str.split('卫').str

             小区   面积    价格  室  厅  卫
7         梅陇十一村   49  4400  2  0  1
54         高兴花园   70  4500  2  1  1
59     南郊别墅(公寓)   98  5500  2  2  1
67         紫薇茗庭   51  2700  1  1  1
104  东方城市花园(二期)  118  9500  2  2  2

In [257]:
df = pd.concat([wb,bk,jk,lj],axis=0)
df['价格'] = pd.to_numeric(df['价格'], downcast='integer',errors='coerce')
df['室'] = pd.to_numeric(df['室'], downcast='integer',errors='coerce')
df['厅'] = pd.to_numeric(df['厅'], downcast='integer',errors='coerce')
df['卫'] = pd.to_numeric(df['卫'], downcast='integer',errors='coerce')
df['面积'] = pd.to_numeric(df['面积'], downcast='integer',errors='coerce')
df.head()

     价格    室  厅     面积         小区                  标签   楼层   地址   卫
0  6700  2.0  0  65.00       山西小区   距2号线南京东路地铁站步行425m  NaN  NaN NaN
1  8500  2.0  2  91.00  明园森林都市滴翠苑    距1号线汶水路地铁站步行763m  NaN  NaN NaN
2  2600  2.0  1  56.07   四元路20弄小区  距3号线江杨北路地铁站步行1130m  NaN  NaN NaN
3  5500  2.0  2  84.00  明园森林都市滴翠苑    距1号线汶水路地铁站步行763m  NaN  NaN NaN
4  6800  1.0  2  78.00       紫华佳苑   距12号线宁国路地铁站步行851m  NaN  NaN NaN