In [11]:
import pandas as pd
import numpy as np
import math

In [20]:
wb = pd.read_excel('datasets/58.xls')
wb.drop(columns=['序号','标题','区','来源'],inplace = True)

biaoqians = wb["标签"]
subways = []

for tag in biaoqians:
    subway = 0
    try:
        m = tag.find("m")
        x = tag.find("行")
        distance = int(tag[x+1:m])
        if distance <= 1000:
            subway = 1
    except:
        subway = 0
    subways.append(subway)
wb.drop(columns=['标签'],inplace = True)
wb["近地铁"] = subways

wb.head()

     价格  室  厅     面积         小区  近地铁
0  6700  2  0  65.00       山西小区    1
1  8500  2  2  91.00  明园森林都市滴翠苑    1
2  2600  2  1  56.07   四元路20弄小区    0
3  5500  2  2  84.00  明园森林都市滴翠苑    1
4  6800  1  2  78.00       紫华佳苑    1

In [34]:
xlsx = pd.ExcelFile("datasets/beiker.xlsx")
bk = pd.read_excel(xlsx, 0)
df1 = pd.read_excel(xlsx, 1)
df2 = pd.read_excel(xlsx, 2)
df3 = pd.read_excel(xlsx, 3)
bk = bk.append(df1)
bk = bk.append(df2)
bk = bk.append(df3)
bk.drop(columns=['序号','标题'],inplace = True)
bk.rename(columns={'平米':'面积','地址':'小区'},inplace = True)

biaoqians = bk["标签"]
subways = []
looks = []
delicates = []
for tag in biaoqians:
    subway = 0
    look = 0
    delicate = 0
    try:
        if "近地铁" in tag: subway = 1
        if "精装" in tag: delicate = 1
        if "随时看房" in tag: look = 1
    except:
        pass
    subways.append(subway)
    looks.append(look)
    delicates.append(delicate)

bk.drop(columns=['标签'],inplace = True)
bk["近地铁"] = subways
bk["随时看房"] = looks
bk["精装"] = delicates
bk.head()
bk.shape

ValueError: Invalid file path or buffer object type: <class 'pandas.core.frame.DataFrame'>

In [24]:
jk = pd.read_excel("datasets/anjuke.xls")
jk.drop(columns=['序号','标题','地址'],inplace = True)
jk.rename(columns={'平米':'面积'},inplace = True)
#jk['地址']= jk['地址'].str.split(' ').str[57]
#jk['地址']= jk['地址'].str.split('\n').str[0]

floors = jk["楼层"]
floors_new = []
for floor in floors:
    fl = 0
    try:
        tol = floor.find("(")
        ed = floor.find(")")
        tol = int(floor[tol+2:ed-1])
        if floor[:2] == "中层": fl = int(math.ceil(tol/2))
        elif floor[:2] == "高层": fl = int(math.ceil(tol*3/4))
        else: fl = int(math.ceil(tol*1/4))
    except:
        tol = floor.find("共")
        ed = floor.find("层")
        tol = int(floor[tol+1:ed])
        fl = fl = int(math.ceil(tol/2))
    floors_new.append(fl)

jk["楼层"] = floors_new   

biaoqians = jk["标签"]
subways = []
for tag in biaoqians:
    subway = 0
    try:
        if "号线" in tag: subway = 1
    except:
        pass
    subways.append(subway)


jk.drop(columns=['标签'],inplace = True)
jk["近地铁"] = subways
        
jk[:20]

    室  厅     面积           小区  楼层    价格  近地铁
0   1  1   58.0      美罗家园罗翔苑   9  1800    1
1   1  1   58.0    美罗家园宝欣苑九村   9  1800    1
2   1  1   55.0      美罗家园年吉苑   9  1800    1
3   1  1   55.0      美罗家园罗秀苑   9  1800    1
4   1  1   55.0      美罗家园罗翔苑   9  1800    1
5   1  2   68.4        金地未未来  12  4500    1
6   1  1   55.0      美罗家园年吉苑   9  1900    1
7   1  1   55.0      美罗家园年吉苑   9  1800    1
8   1  1   60.0      美罗家园保申苑   9  1800    1
9   1  1   30.0  胜辛南路800号办公楼   5  1824    0
10  3  1  108.0     金海华城华美新苑   9  4500    1
11  3  1   21.0     上海吉曼商务中心   7  1820    1
12  3  1   23.0          永乐苑   3  1890    1
13  2  2   71.4     爱法花园(一期)   3  4500    1
14  2  1   80.0          佳翔苑   5  1900    1
15  2  1   76.0     平吉二村莲花新城   3  5300    1
16  2  1   67.0     香楠小区(东区)   3  4500    1
17  2  1   25.0         延平小区   2  1810    1
18  2  1   25.0         延平小区   2  1890    1
19  2  1   72.0    美罗家园宝欣苑九村  14  1900    1

In [6]:
lj = pd.read_excel("datasets/lianjia.xls")
lj.drop(columns=['序号','标题','区1','区2'],inplace = True)
lj['面积'], lj['面积2'] = lj['面积'].str.split('㎡').str
lj['面积2'] = lj['面积2'].str.split('南').str[1]
lj['面积2'] = lj['面积2'].str.split(' ').str[1]
lj['面积2'] = lj['面积2'].str.split('北').str[1]
lj['室'], lj['面积2'] = lj['面积2'].str.split('室').str
lj['厅'], lj['面积2'] = lj['面积2'].str.split('厅').str
lj['卫'], lj['面积2'] = lj['面积2'].str.split('卫').str
lj.drop(columns=['面积2'],inplace = True)
lj.dropna(axis=0,how='any',inplace = True)
lj.head()

<ipython-input-6-ef160c2a7500>:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  lj['面积'], lj['面积2'] = lj['面积'].str.split('㎡').str
<ipython-input-6-ef160c2a7500>:7: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  lj['室'], lj['面积2'] = lj['面积2'].str.split('室').str
<ipython-input-6-ef160c2a7500>:8: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  lj['厅'], lj['面积2'] = lj['面积2'].str.split('厅').str
<ipython-input-6-ef160c2a7500>:9: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  lj['卫'], lj['面积2'] = lj['面积2'].str.split('卫').str

             小区   面积    价格  室  厅  卫
7         梅陇十一村   49  4400  2  0  1
54         高兴花园   70  4500  2  1  1
59     南郊别墅(公寓)   98  5500  2  2  1
67         紫薇茗庭   51  2700  1  1  1
104  东方城市花园(二期)  118  9500  2  2  2

In [27]:
zr = pd.read_excel("datasets/ziroom.xls")

zr['楼层'] = zr['楼层'].str.split('/').str[0]

zr = zr.rename(columns={'标题': '小区'})

xiaoqus = zr['小区']
xiaoqus_new = []
for xiaoqu in xiaoqus:
    dot = xiaoqu.find("·")
    shi = xiaoqu.find("室")
    xiaoqus_new.append(xiaoqu[dot+1:shi-1])
zr['小区'] = xiaoqus_new


dizhis = zr["地址"]
subways = []

for tag in dizhis:
    subway = 0
    try:
        m = tag.find("米")
        x = tag.find("约")
        distance = int(tag[x+1:m])
        if distance <= 1000:
            subway = 1
    except:
        pass
    subways.append(subway)

zr["近地铁"] = subways
zr.drop(columns=['标签'],inplace = True)
zr.drop(columns=['地址'],inplace = True)
zr.head()

     小区  室  厅      面积  楼层     价格  近地铁
0  半岛花园  2  1  100.31   7  11360    1
1  长峰大厦  2  1  106.00  23  11190    1
2   光鸿苑  2  1  102.00  10   9890    1
3   珊瑚苑  2  1  103.00   5   9990    0
4  龙潭小区  2  1   90.00   2   8490    1

In [32]:
df = pd.concat([wb,bk,jk,lj,zr],axis=0)
df['价格'] = pd.to_numeric(df['价格'], downcast='integer',errors='coerce')
df['室'] = pd.to_numeric(df['室'], downcast='integer',errors='coerce')
df['厅'] = pd.to_numeric(df['厅'], downcast='integer',errors='coerce')
df['卫'] = pd.to_numeric(df['卫'], downcast='integer',errors='coerce')
df['面积'] = pd.to_numeric(df['面积'], downcast='integer',errors='coerce')

df = df[['小区','价格','面积','室','厅','卫','楼层','近地铁','随时看房','精装']]
df.head()
df.shape

(9882, 10)